<h2>Friends</h2>

<% friends.forEach(friend => { %>
  <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input type="text" name="novoamigo" placeholder="Nome"></input>
    <button>Eu fiz um novo amigo!</button>
</form>